body{
  font-family: 'Baloo Paaji 2', cursive;
}
/* Navbar component*/
.navbar {
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-brand{
  margin-left: 10% !important;
}

.mr-auto {
  margin-left: auto ;
  margin-right: 10% !important;
}

/* User Component*/
#user{
  background-color: #4585f3;
  margin-top: 56px !important;
  padding-top: 10px;
  height: 225px;
}

.rounded-circle{
  padding-left: 10% !important;
  padding-right: 10% !important;
  height: 200px;
}

#user-info {
  color: #414246;
}

/* Form Component*/
#form {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.btn-light{
  border-color: black;
  box-shadow: 5px 5px grey;
}

#contact {
  margin-top: 10% !important ;
  background-color: #343a40;
  color: whitesmoke;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}
.btn-toolbar {
  justify-content: center;
}

.btn-secondary {
  margin-left: 10px;
}